nav{
  background-color: white;
  border-bottom: solid 1px lightgrey;
}

nav a{
  color: #8E8D8A;
}

.product_cards_container .item img{
  width: 100%;
  height: 256px;
}

.product_cards_container .card-content{
  min-height: 150px;
}
